<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">CBeltran</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gestion de Mascotas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/mascotas/new']">Crear</a>
          <a class="dropdown-item" [routerLink]="['/mascotas']">Listar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
