<footer class="page-footer font-small  bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.linkedin.com/in/carlos-andr%C3%A9s-beltr%C3%A1n-franco-3b17a649/"> Carlos Andres Beltran Franco</a>
    </div>
    <!-- Copyright -->

  </footer>
