<h5 class="card-title">Listado de Mascotas</h5>

<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Propietario</th>
        <th class="text-center">Foto</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mascota of mascotas">
        <td>{{ mascota.id }}</td>
        <td>{{ mascota.nombre }}</td>
        <td>{{ mascota.raza }}</td>
        <td>{{ mascota.edad }}</td>
        <td>{{ mascota.propietario }}</td>
        <td class="text-center"> <a style="cursor:not-allowed" href="javascript:void(0)" >Ver imagen</a></td>
        <td class="text-center">
                <a href="/mascotas/{{ mascota.id }}/edit" data-toggle="tooltip" data-original-title="Edit">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
        </td>
      </tr>
    </tbody>
    </table>
