<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide" class="w-100  img-fluid">
    <div class="carousel-caption">
      <h3>Imagen 1</h3>
      <p>Texto 1</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide" class="w-100  img-fluid">
    <div class="carousel-caption">
      <h3>Imagen 2</h3>
      <p>Texto 2</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide" class="w-100 img-fluid">
    <div class="carousel-caption">
      <h3>Imagen 3</h3>
      <p>Texto 3</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[3]" alt="Random Four slide" class="w-100  img-fluid">
    <div class="carousel-caption">
      <h3>Imagen 4</h3>
      <p>Texto 4.</p>
    </div>
  </ng-template>
</ngb-carousel>
