<app-header></app-header>
<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card ">
          <div class="card-body">
    <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
</div>
<app-foot></app-foot>
