<h5 class="card-title">Gestion de Mascotas</h5>
<form method="post"  #f="ngForm" (ngSubmit)="onSubmit(f)"  class="form-horizontal" >
  <input type="hidden" name="id" [(ngModel)]="mascotas.id" id="id" value="">
  <div class="form-group">
    <label class="control-label col-sm-2" for="nombre">Nombre:</label>
    <div class="col-sm-10">
      <input [(ngModel)]="mascotas.nombre"  name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de la mascota">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="raza">Raza:</label>
    <div class="col-sm-10">
      <input type="text" [(ngModel)]="mascotas.raza" name="raza"  class="form-control" id="raza" placeholder="Raza de la mascota">
    </div>
  </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="edad">Edad:</label>
        <div class="col-sm-10">
          <input type="number" [(ngModel)]="mascotas.edad" name="edad"  class="form-control" id="edad" placeholder="Edad de la mascota">
        </div>
      </div>
      <div class="form-group">
          <label class="control-label col-sm-2" for="propietario">Propietario:</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="mascotas.propietario" name="propietario"  class="form-control" id="propietario" placeholder="Propietario de la mascota">
          </div>
        </div>

      <div class="form-group">
          <label class="control-label col-sm-2" for="foto">Foto:</label>
          <div class="col-sm-10">
            <input type="file" [(ngModel)]="mascotas.foto" name="foto" class="form-control" id="foto" placeholder="Foto de la mascota">
          </div>
        </div>


      <div class="form-group">
          <label class="control-label col-sm-2" for="nacimiento">Fecha Nacimiento:</label>
          <div class="col-sm-10">

              <ngb-datepicker name="nacimiento" [(ngModel)]="mascotas.nacimiento" (navigate)="date = $event.next"></ngb-datepicker>

          </div>
        </div>

<hr>
  <div class="form-group row">
      <div class="col-sm-offset-2 col-md-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      <div class="col-sm-offset-2   col-md-2 col-sm-10">
        <button type="button" class="btn btn-warning">Cancelar</button>
      </div>
  </div>
</form>
